<div class="container" id="login">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1 class="text-center">CAOS.APP</h1>
      <h6 class="text-center">Controlling Activities Of Students</h6>
      <form #f="ngForm" (submit)="formLogin(f)">
        <div class="form-group">
          <label>Email:</label>
          <input type="email" class="form-control" ngModel name="email" placeholder="Informe o e-mail" required>
        </div>
        <div class="form-group">
          <label>Senha:</label>
          <input type="password" class="form-control" ngModel name="password" placeholder="Informe a senha" required>
        </div>
        <button [disabled]="isFormInvalid(f)" type="submit" class="btn btn-block btn-primary">Logar</button>
      </form>
    </div>
  </div>
</div>
