<div class="container-fluid" id="detail">
  <div class="row">
    <div class="col-xs-12 com-sm-12 col-md-4 col-lg-3">
      <div class="card">
        <img class="card-img-top" [src]="student.profileImage" alt="student-image">
        <div class="card-block">
          <h6 class="card-title">{{ student.name }}</h6>
          <div class="card-title">{{ student.cwiName }}</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 com-sm-12 col-md-8 col-lg-9">
      <h4 class="avaliation-title">Avaliações: </h4>
      <div class="box" *ngIf="!student.avaliations">
        <h6> O aluno não possui avaliações.</h6>
      </div>
      <div *ngIf="student.avaliations" class="col-xs-12 com-sm-12 col-md-12">
        <div class="box" *ngFor="let avaliation of student.avaliations | orderBy: title: true">
            <h6 class="badge badge-{{ avaliation.rating }} float-right">{{ avaliation.rating }}</h6>
            <h6 class="title">{{ avaliation.title }}</h6>
          <div class="box-mark">
            <markdown [(data)]="avaliation.text"></markdown>
          </div>
          <hr>
          <div>
            <div>Avaliado por: {{ avaliation.monitorName }}</div>
            <div>Data da Avaliação: {{ avaliation.dateAvaliation | date: 'dd/MM/yyyy - HH:mm'}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
