.caos-navbar {
  margin-bottom: 40px;
}

.navbar {
  align-items: initial;
  padding: 1rem 1rem;
}

.navbar-span {
  display: flex;
  font-size: 10px;
}

.navbar-brand {
  margin-right: 1.5rem;
}

.pointer {
  cursor: pointer;
}
