#students {
  margin-top: 40px;
  .title {
    margin-bottom: 20px;
    text-align: center;
  }
  .student {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .card-img-top {
    width: 50%;
    display: table;
    margin: 0 auto;
  }
}
