<div class="container" id="students">
  <h4 class="title">Lista de Alunos: </h4>
  <div class="row">
    <div *ngFor="let student of students | async | orderBy: 'name'" class="col-xs-12 com-sm-12 col-md-6 col-lg-4 student">
      <div class="card" [ngClass]="{ 'avaliation-regular': verifyRegularRating(student.avaliations) }">
        <img class="card-img-top" [src]="student.profileImage" alt="student-image">
        <div class="card-block">
          <h4 class="card-title letter-2px">{{ student.name }}</h4>
          <h5 class="card-title">{{ student.cwiName }}</h5>
          <div class="text-right">
              <span *ngIf="student.avaliations" class="badge badge-primary">{{ student.avaliations.length === 1 ? student.avaliations.length + ' avaliação' : student.avaliations.length + ' avaliações' }}</span>
              <span *ngIf="!student.avaliations" class="badge badge-primary">Sem avaliações</span>
          </div>
          <a [routerLink]="['/student', student.cwiName]" class="btn btn-block btn-primary" [ngClass]="{ 'btn-danger': verifyRegularRating(student.avaliations) }">Verificar Avaliações </a>
        </div>
      </div>
    </div>
  </div>
</div>
