<div class="container" id="avaliation">
  <div class="row">
    <div class="col-xs-12 com-sm-12 col-md-12">
      <h4>Cadastro de Avaliações: </h4>
      <h6>Cadastro de avaliações realizadas para um aluno</h6>
      <form id="avaliacao" #g="ngForm" (submit)="formAddAvaliation(g)">
        <div class="row">
          <div class="form-group col-xs-12 com-sm-12 col-md-12">
            <label>Título da Avaliação: </label>
            <input type="text" class="form-control" ngModel name="title" required>
          </div>
          <div class="form-group col-xs-12 com-sm-12 col-md-6">
            <label>Avaliação (aceita o formato markdown): </label>
            <textarea class="form-control" ngModel name="text" rows="25" required></textarea>
          </div>
          <div class="form-group col-xs-12 com-sm-12 col-md-6">
            <label>Preview: </label>
            <div class="max-size">
              <markdown *ngIf="g.value.text" [(data)]="g.value.text"></markdown>
            </div>
          </div>
          <div class="form-group col-xs-12 com-sm-12 col-md-6">
            <label>Avaliador: </label>
            <input type="text" class="form-control" ngModel name="monitorName" required>
          </div>
          <div class="form-group col-xs-12 com-sm-12 col-md-6">
            <label>Aluno Avaliado</label>
            <select class="form-control" ngModel name="studentKey" required>
                <option *ngFor="let student of students | async | orderBy: 'name'" [value]="student.$key">{{ student.name }}</option>
            </select>
          </div>
        </div>
        <button [disabled]="isFormInvalid(g)" type="submit" class="btn btn-primary">Adicionar Avaliação</button>
      </form>
    </div>
</div>