.max-size {
    height: 570px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 35px;
    overflow: auto;
}

.forms {
    margin-bottom: 100px;
    hr{
        margin: 60px auto;
    }
}

#home{
    color: #222;
}